<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="form-group">
          <select class="form-control" (change)="onChangeMap($event.target.value)">
            <option [value]="i.id" *ngFor="let i of availableMaps">{{i.name}}</option>
          </select>
        </div>
      </li>
    </ul>
  </div>
</nav>
<app-map [visualizationObject]="visualObject" [data]='visualObject' *ngIf="isLoaded"></app-map>
