<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="form-group">
          <select class="form-control">
            <option>Map 1</option>
            <option>Map 2</option>
            <option>Map 3</option>
            <option>Map 4</option>
            <option>Map 5</option>
          </select>
        </div>
      </li>
    </ul>
  </div>
</nav>
<app-map [visualizationObject]="visualObject" *ngIf="isLoaded"></app-map>
