/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

@font-face {
  font-family: Scorecard-Averta;
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/averta-regular.woff2) format('woff2');
}
@font-face {
  font-family: Scorecard-Averta;
  font-style: normal;
  font-weight: 700;
  src: url(assets/fonts/averta-bold.woff2) format('woff2');
}
body * {
  font-family: Scorecard-Averta, sans-serif, appleLogo;
}
